<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
    </style>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>
  <body>
    <div class="slideshow"></div>
    <header>
      <div class="heading">
        <h1 class="title">SONAR</h1>
        <h2 class="subtitle">Emotionally Intelligent Music Recommendations</h2>
      </div>
    </header>
    <main>
      <div class = "content">
        <div class="Input">
          <input type="textbox" placeholder="Write a message about your day"
            id="msg_input"></input>
          <button id="submit">Submit</button>
        </div>
        <br>
        <div id="tracks"></div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
