body {

  font-size: 18px;

  text-align: center;
}

.content {

  z-index: 9999;
}

.heading {
  color: white;

  font-family: 'Oswald', sans-serif;

  text-shadow: 1px 1px 1px black;

}

.title {

  letter-spacing: 0.3em;
  font-size: 4rem;

}

.slideshow {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ),

    url("../img/disco.jpg");

  background-position: center;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  filter: blur(6px);
  -webkit-filter: blur(6px);

  position: fixed;

  width:100%;
  height:100%;
  top:0px;
  left:0px;

  z-index: -1;

  transform: scale(1.1)
}

.subtitle {
  font-family: 'Roboto', sans-serif;
}

#msg_input {
  border: 2px grey;

  padding: 10px 64px;
}

#submit {
  background-color: grey;
  border: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
}
